<!DOCTYPE html>
<html>
<style>
h1 {
    font-size: 20px;
    color:black;
}

h2 {
    font-size: 36px;
    font-family: Bradley Hand, cursive;
}

h3 {
    font-size: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #63CB00;
    color: black;
    padding: 14px 50px;
    margin: auto;
    display: block;
    border: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 150px
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=button] {
    margin: auto;
    display: block;
    border-style: solid;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
}

.button-page {
    color: black;
    background-color: #63CB00;
    padding: 14px 50px;
    border: black;
    border-width: 5px;
    font-weight: bold;
    width: 150px
}

.button-edit {
    background-color: #63CB00;
    border-width: 1px;
    width: 80px;
    color: white;
}

.button-delete {
    background-color: red;
    border-width: 1px;
    width: 80px;
    color: white;
}

input[type=button]:hover {
    background-color: #45a049;
}

label {
    padding: 20px 0px 20px 0px;
    display: inline-block;
    font-weight: bold;
}

table {
    font-family: Bradley Hand, cursive;
    border-collapse: collapse;
    width: 100%;
    border-width: 0px;
    border-radius: 8px;
}

.halftable {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    height: 50px;
    max-height: 50px;
    text-align: left;
    padding: 8px;
    overflow: auto;
}

tr:nth-child(even) {
    background-color: #E0FFD7;
}

tr:hover {
    background-color: #9FB499;
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%
}

.container {
    margin: auto;
    border-radius: 5px;
    background-color: #63CB00;
    border: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
    width: 76%;
    padding: 25px 70px 25px 70px;
}

.container-welcome {
    margin: auto;
    border-radius: 5px;
    background-color: black;
    border: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
    width: 85%;
    padding: 25px 70px 25px 70px;
}

.container-home {
    margin: auto;
    position: relative;
    top: 50px;
    border-radius: 5px;
    background-color: white;
    opacity: 0.98;
    border: black;
    border-style: solid;
    border-width: 5px;
    border-radius: 8px;
    width: 76%;
    height: 400px;
    padding: 25px 70px 25px 70px;
    overflow: scroll;
}

.container-outer {
    position: fixed;
    margin: auto;
    border-radius: 5px;
    width: 800px;
    padding: 80px 0px 25px 30px;
    position: relative;
    top: 200px;
}

.col {
    float: left;
    margin-top: 6px;
}   

.col-25 {
    width: 25%;
}

.col-33 {
    width: 33%;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-80 {
    width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.header {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   background-color: black;
   color: #A1E766;
   text-align: center;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: #A1E766;
   text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
</style>
</html>