<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">	
	</head>
	<body background="background6.jpg">
		<div class="page-header header">
			<br>
		</div>
		<div class="container container-welcome">
			<img src="diary_logo.png" class="welcome-logo"></img>
		</div>
		<form>
			<div id="login-button" class="container-button">
				<div class="col col-25">
					<a href="login.html"><input type="button" class="button-page" onclick="" value="Login"></a>
				</div>
				<div class="col col-25">
				</div>
				<div class="col col-25">
					<!--<button onclick="location.href='/MyDiary_GB/templates/login.html" class="button-page">Login</button>-->
				</div>
				<div class="col col-25">
					<a href="registration.html"><input type="button" class="button-page" onclick="" value="Register"></a>
				</div>				
			</div>
		</form>	
		<div class="footer">
			<p>Page by: Gordon Balaaka</p>
		  	<p>App information.</p>
		</div>
	</body>
</html>