<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">	
	</head>
	<body background="background6.jpg">
		<div class="page-header header">
			<img src="diary_logo.png" alt="MyDiary" class="page-logo"></img>
		</div>
		<div id="login" class="container container-login">
			<h1><u>LogIn</u></h1>
			<form>
				<div class="row">
					<div class="col col-40">
						<label for="mail">E-mail</label>
					</div>
					<div class="col col-60">
						<input type="text" id="mail" name="email" placeholder="your.name@email.com">
					</div>
				</div>	
				<div class="row">
					<div class="col col-40">
						<label for="pword">Password</label>
					</div>
					<div class="col col-60">
						<input type="password" id="pword" name="password" placeholder="">
					</div>
				</div>
				<br>
				{% if error %}
					<p class="error"><strong>Error:</strong> {{ error }}</p>
				{% endif %}
				<br>
			</form>
		</div>
		<div id="login-button" class="container-button">
			<div class="col col-25">
				<a href="home.html"><input type="submit" class="button-page" onclick="" value="Submit"></a>
			</div>
			<div class="col col-25">
			</div>
			<div class="col col-25">
			</div>
			<div class="col col-25">
				<a href="index.html"><input type="button" class="button-page" onclick="" value="Back"></a>
			</div>
		</div>
	</body>
	<div class="footer">
		<p>Page by: Gordon Balaaka</p>
	  	<p>App information.</p>
	</div>
</html>