<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">	
	</head>
	<body background="background6.jpg">
		<div class="header">
			<br><br>
			<img style="text-align:center" src="diary_logo.png" alt="MyDiary" width="450" height=auto></img>
			<br><br>
		</div>
		<br><br><br><br><br><br><br><br>
		<div class="container-profile">
			<br>
			<p><b>All entries:</b></p>
			<p><b>Current entries:</b></p>
			<p><b>Deleted entries:</b></p>
			<br><br>
			<h3>Enable reminders?</h3>
			<form>
			  <input type="radio" name="notification" value="male" checked> Email<br>
			  <input type="radio" name="notification" value="female"> Notification<br>
			  <input type="radio" name="notification" value="other"> None  
			</form> 
			<br><br>
		</div>
		<br><br><br><br>
		<div class="row">
			<div class="col col-33">
				<input type="button" class="button-page" onclick="" value="Save">
			</div>
			<div class="col col-33">
				<input type="button" class="button-page" onclick="" value="MyThoughts">
			</div>
			<div class="col col-33">
				<input type="button" class="button-page" onclick="" value="LogOut">
			</div>
		</div>
        <div class="footer">
			<p>Page by: Gordon Balaaka</p>
		  	<p>App information.</p>
		</div>
	</body>
</html>