<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">	
	</head>
	<body background="background6.jpg">
		<div class="page-header header">
			<img src="diary_logo.png" alt="MyDiary" class="page-logo"></img>
		</div>
		<div class="container container-profile">
			<br>
			<p><b>All entries:</b></p>
			<p><b>Current entries:</b></p>
			<p><b>Deleted entries:</b></p>
			<br><br>
			<h3>Enable reminders?</h3>
			<form>
			  <input type="radio" name="notification" value="male" checked> Email<br>
			  <input type="radio" name="notification" value="female"> Notification<br>
			  <input type="radio" name="notification" value="other"> None  
			</form> 
		</div>

        <div id="app-button" class=container-button>
            <div class="col col-33">
                <a href="profile.html"><input type="button" class="button-page" onclick="" value="Save"></a>
            </div>
            <div class="col col-33">
                <a href="home.html"><input type="button" class="button-page" onclick="" value="MyThoughts"></a>
            </div>
            <div class="col col-33">
                <a href="login.html"><input type="button" class="button-page" onclick="" value="LogOut"></a>
            </div>
		</div>
        <div class="footer">
			<p>Page by: Gordon Balaaka</p>
		  	<p>App information.</p>
		</div>
	</body>
</html>