<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="style.css">	
	</head>
	<body background="background6.jpg">
		<div class="header">
			<br><br><br><br><br><br>
		</div>
		<div class="container container-welcome">
			<br><br><br><br><br><br>
			<img src="diary_logo.png" alt="MyDiary" width="450" height=auto></img>
		</div>
		<br><br>
		<div class="container-button">
			<div class="col col-25">
				<input type="button" class="button-page" onclick="" value="Login">
			</div>
			<div class="col col-25">
			</div>
			<div class="col col-25">
			</div>
			<div class="col col-25">
				<input type="button" class="button-page" onclick="" value="Register">
			</div>
		</div>
		<div class="footer">
			<p>Page by: Gordon Balaaka</p>
		  	<p>App information.</p>
		</div>
	</body>
</html>